 .app-title {
            background-color: #3097D1;
            color: #FFF;
        }

        .app-body {
            padding-left: 5px;
        }

        .padding-table td {
            padding: 4px;
        }

        .sort-item {
            cursor: pointer;
        }

        .scroll-table {
            height: 450px;
            overflow-y: auto;
            border: solid 1px #CCC;
        }

        .rowclass:hover {
            background-color: #bde7ff;
        }

        /*head*/
        .table-fixed {
           
            table-layout: fixed;
            margin: auto;
        }

         .table-fixed  th, .table-fixed  td {
            padding: 5px 10px;
            border: 1px solid #000;
        }

         .table-fixed thead,.table-fixed  tfoot {
           
            display: table;
            width: 100%;
            width: calc(100% - 18px);
        }

         .table-fixed tbody {
            height: 400px;
            overflow: auto;
            overflow-x: hidden;
            display: block;
            width: 100%;
        }

           .table-fixed tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }